.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.header {
  display: flex;
  width: 100%;
  background-color: #222;
}

.header-logo {
  height: 50px;
  background-color: #222;
  padding-left: 15px;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 100px;
}
.App-header {
  background-color: #222;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  color: white;
  text-align: left;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
  background-color: #222;
  color: whitesmoke;
  padding: 30px;
}

li {
  list-style: none;
}

.card {
  width: 18rem;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.highlighted {
  background-color: rgba(255, 255, 0, 0.557);
}

.container {
  padding-bottom: 70px;
}

.resto {
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.resto h3 {
  padding-bottom: 30px;
}

.dish {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  display: grid;
  grid-template-columns: 400px 60px 60px;
  padding: 10px;
  border-top: 1px solid #dfdfdf;
}

.btn-primary {
  background-color: rgb(213, 233, 255);
  color: rgb(22, 7, 89);
}
